In [1]:
# Import 需要的套件
import os
import numpy as np
import pandas as pd

# 設定 data_path
dir_data = '../data/'

In [2]:
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

In [3]:
import matplotlib.pyplot as plt
%matplotlib inline

## 練習時間

觀察有興趣的欄位的資料分佈，並嘗試找出有趣的訊息
#### Eg
- 計算任意欄位的平均數及標準差
- 畫出任意欄位的[直方圖](https://zh.wikipedia.org/zh-tw/%E7%9B%B4%E6%96%B9%E5%9B%BE)

### Hints:
- [Descriptive Statistics For pandas Dataframe](https://chrisalbon.com/python/data_wrangling/pandas_dataframe_descriptive_stats/)
- [pandas 中的繪圖函數](https://amaozhao.gitbooks.io/pandas-notebook/content/pandas%E4%B8%AD%E7%9A%84%E7%BB%98%E5%9B%BE%E5%87%BD%E6%95%B0.html)

In [4]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
app_train.dtypes.value_counts()

float64    65
int64      41
object     16
dtype: int64

In [6]:
app_train.select_dtypes(include=["float64"]).apply(pd.Series.nunique, axis=0)

AMT_INCOME_TOTAL                  2548
AMT_CREDIT                        5603
AMT_ANNUITY                      13672
AMT_GOODS_PRICE                   1002
REGION_POPULATION_RELATIVE          81
DAYS_REGISTRATION                15688
OWN_CAR_AGE                         62
CNT_FAM_MEMBERS                     17
EXT_SOURCE_1                    114584
EXT_SOURCE_2                    119831
EXT_SOURCE_3                       814
APARTMENTS_AVG                    2339
BASEMENTAREA_AVG                  3780
YEARS_BEGINEXPLUATATION_AVG        285
YEARS_BUILD_AVG                    149
COMMONAREA_AVG                    3181
ELEVATORS_AVG                      257
ENTRANCES_AVG                      285
FLOORSMAX_AVG                      403
FLOORSMIN_AVG                      305
LANDAREA_AVG                      3527
LIVINGAPARTMENTS_AVG              1868
LIVINGAREA_AVG                    5199
NONLIVINGAPARTMENTS_AVG            386
NONLIVINGAREA_AVG                 3290
APARTMENTS_MODE                    760
BASEMENTAREA_MODE                 3841
YEARS_BEGINEXPLUATATION_MODE       221
YEARS_BUILD_MODE                   154
COMMONAREA_MODE                   3128
                                 ...
LIVINGAPARTMENTS_MODE              736
LIVINGAREA_MODE                   5301
NONLIVINGAPARTMENTS_MODE           167
NONLIVINGAREA_MODE                3327
APARTMENTS_MEDI                   1148
BASEMENTAREA_MEDI                 3772
YEARS_BEGINEXPLUATATION_MEDI       245
YEARS_BUILD_MEDI                   151
COMMONAREA_MEDI                   3202
ELEVATORS_MEDI                      46
ENTRANCES_MEDI                      46
FLOORSMAX_MEDI                      49
FLOORSMIN_MEDI                      47
LANDAREA_MEDI                     3560
LIVINGAPARTMENTS_MEDI             1097
LIVINGAREA_MEDI                   5281
NONLIVINGAPARTMENTS_MEDI           214
NONLIVINGAREA_MEDI                3323
TOTALAREA_MODE                    5116
OBS_30_CNT_SOCIAL_CIRCLE            33
DEF_30_CNT_SOCIAL_CIRCLE            10
OBS_60_CNT_SOCIAL_CIRCLE            33
DEF_60_CNT_SOCIAL_CIRCLE             9
DAYS_LAST_PHONE_CHANGE            3773
AMT_REQ_CREDIT_BUREAU_HOUR           5
AMT_REQ_CREDIT_BUREAU_DAY            9
AMT_REQ_CREDIT_BUREAU_WEEK           9
AMT_REQ_CREDIT_BUREAU_MON           24
AMT_REQ_CREDIT_BUREAU_QRT           11
AMT_REQ_CREDIT_BUREAU_YEAR          25
Length: 65, dtype: int64

In [8]:
app_train["AMT_ANNUITY"].describe()

count    307499.000000
mean      27108.573909
std       14493.737315
min        1615.500000
25%       16524.000000
50%       24903.000000
75%       34596.000000
max      258025.500000
Name: AMT_ANNUITY, dtype: float64

In [9]:
app_train["AMT_ANNUITY"].mean()

27108.573909183444

In [10]:
app_train["AMT_ANNUITY"].std()

14493.737315117392

In [ ]:
app_train["AMT_ANNUITY"].plot()